body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
#app {
  height: 100%;
}
.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* general */
.btn,
.btn:visited {
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  color: #272343;
  padding-top: 2px;
  padding-bottom: 2px;
}
.btn:hover {
  color: #007580;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}
hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #e5e5e5;
  height: 2px;
}
/* nav-bar */
.nav-top-container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-container {
  display: flex;
  gap: 25px;
  align-items: center;
}
.navbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2.5px solid #e1e3e6;
  cursor: pointer;
  width: 150px;
  border-radius: 6px;
  height: 35px;
}
.navbar-btn-img {
  height: 22px;
  width: 22px;
  margin-right: 10px;
}
.link {
  font-weight: bold;
  text-decoration: none !important;
}
/* carousel item */

.carousel-item-top-container {
  position: relative;
  top: 60px;
  left: 10%;
  width: 550px;
  height: 300px;
}
.carousel-p-1 {
  font-size: 30px;
  padding-bottom: 0;
  margin-bottom: 20px;
  position: relative;
}
.carousel-p-2 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 20px;
  position: relative;
}
.carouse-btn {
  font-size: 25px;
  font-weight: bold;
  width: 180px;
  height: 60px;
  margin-top: 7px;
  padding: 0;
  vertical-align: middle;
  border-radius: 5px;
}
.carousel-mid-container {
  position: relative;
  bottom: 150px;
  left: 50%;
  width: 150px;
  height: 150px;
}
.carousel-low-container {
  background-color: #e1e3e6;
  width: 520px;
  height: 520px;
  position: absolute;
  left: -5px;
  top: -350px;
  border-radius: 50%;
  z-index: -1;
}
.carousel-img {
  border-radius: 10px;
  height: 400px;
  width: 300px;
  z-index: 1;
  position: absolute;
  left: 100px;
  top: -120px;
}
.carousel-inner-container {
  background-color: #fff;
  width: 75px;
  height: 72px;
  position: absolute;
  left: 350px;
  top: -120px;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}
.carousel-p-3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #f05c52;
}
.carousel-p-4 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
/* top carousel */
.top-carousel .slick-prev {
  left: 3% !important;
  z-index: 1;
}
.top-carousel .slick-next {
  right: 3% !important;
  z-index: 1;
}
.top-carousel .slick-next::before {
  background-image: url("./assets/forward.png") !important;
  background-size: 100px 100px;
  display: inline-block;
  width: 100px;
  height: 100px;
  content: "" !important;
  position: relative !important;
  left: -50px !important;
}
.top-carousel .slick-prev::before {
  background-image: url("./assets/back.png") !important;
  background-size: 100px 100px;
  display: inline-block;
  width: 100px;
  height: 100px;
  content: "" !important;
  position: relative !important;
  left: -30px !important;
}
.slider-container {
  width: 80%;
  height: 520px;
  border-radius: 0px 0px 30px 30px;
  background-color: #f0f2f3;
}
/* sponsers */
.imgContainer {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* products card */
.container-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.container-btn:hover {
  color: #029fae !important;
}
.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 7px;
  margin: 10px;
}
.card:hover {
  transform: scale(1.1);
}
.card-inner-div-1 {
  display: flex;
  height: 240px;
  justify-content: space-between;
  align-items: start;
  background-size: cover;
}
.card-inner-div-2 {
  padding: 10px;
  background-color: #01ad5a;
  border-radius: 4px;
  color: white;
  width: 30px;
  height: 20px;
  padding: 3px;
  margin: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-favorite {
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px grey;
}
.card-favorite-icon {
  width: 20px;
  height: 20px;
  padding: 3px;
}
.card-inner-div-3 {
  display: flex;
  justify-content: space-between;
}
.card-inner-div-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.subtitle {
  padding: 5px;
  font-weight: bold;
}
.card-cart-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 4px;
}
/* products */
.products-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-title {
  font-size: 45px;
  font-weight: bold;
}
.products-inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
}
/* feedback-card */
.card-top-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.card-medium-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 220px;
  width: 400px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 50px;
}
.feedback-container {
  border-left-color: #029fae;
  border-left-style: solid;
  height: 200px;
  width: 300px;
  margin: 20px;
  padding-left: 10px;
}
.card-bottom-container {
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0px 20px 20px 20px;
  padding-left: 10px;
  gap: 10px;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.client-name {
  padding: 0;
  margin: 2px;
  font-weight: bold;
  font-size: 15px;
}
.client-job {
  padding: 0;
  margin: 2px;
  font-weight: bold;
  font-size: 10px;
  color: #9a9caa;
}
.comma-img {
  width: 50px;
  height: 45px;
  padding-left: 130px;
}
/* feedback-carousel */
.bottom-carousel .slick-prev {
  left: 3% !important;
  z-index: 1;
}
.bottom-carousel .slick-next {
  right: 3% !important;
  z-index: 1;
}
.bottom-carousel .slick-next::before {
  background-image: url("./assets/right.png") !important;
  background-size: 50px 50px;
  display: inline-block;
  width: 50px;
  height: 50px;
  content: "" !important;
  position: relative !important;
  left: -50px !important;
  top: -170px !important;
}
.bottom-carousel .slick-prev::before {
  background-image: url("./assets/left.png") !important;
  background-size: 50px 50px;
  display: inline-block;
  width: 50px;
  height: 50px;
  content: "" !important;
  position: relative !important;
  left: 720px !important;
  top: -170px !important;
}
.bottom-carousel button:hover.slick-next::before {
  background-image: url("./assets/right-hover.png") !important;
}
.bottom-carousel button:hover.slick-prev::before {
  background-image: url("./assets/left-hover.png") !important;
}
.card-section-container {
  background-color: #f0f2f3;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 100px;
}
.card-section-title {
  font-weight: bold;
  font-size: 30px;
  padding: 0;
  margin: 0;
  align-self: flex-start;
  padding-left: 350px;
  padding-top: 50px;
}
.card-section-inner-container {
  width: 60%;
  height: 350px;
  border-radius: 0px 0px 30px 30px;
  background-color: #f0f2f3;
}

/* footer */
.footer-top-container {
  width: 70%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 50px;
}
.footer-mid-container {
  width: 500px;
  display: flex;
  flex-direction: column;
}
.chair-container {
  display: flex;
  align-items: center;
}
.chairy-text {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 13px;
  color: #9a9caa;
}
.social-icons {
  width: 20px;
  height: 20px;
  filter: grayscale(1);
  padding: 11px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border-width: 2px;
}
.social-icons:hover {
  border-width: 2px;
  padding: 11px;
  border-style: solid;
  border-color: #029fae;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  filter: grayscale(0);
  transform: scale(1.1);
}
.title {
  font-weight: bold;
  color: #9a9caa;
  margin: 0;
  padding: 0;
}
.category-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  gap: 4px;
}
.newsleter {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 20px;
}
.newsletter-text {
  padding-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
  gap: 20px;
}
.subscribe {
  background-color: #029fae;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 30%;
}
.copyright-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 80px;
}
input {
  width: 350px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 7px;
  font-size: 16px;
  background-color: white;
  height: 40px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px;
}

/* details page */
.details-top-container {
  display: flex;
  height: 900px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.details-mid-container {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  height: 800px;
  width: 80%;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
}
.details-low-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-img-section {
  height: 550px;
  width: 550px;
  border-radius: 10%;
  margin: 5px;
  border-style: dashed;
  border-color: black;
  margin-left: 20px;
}
.details-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 550px;
  width: 550px;
  border-radius: 10%;
  padding: 20px;
}
.topic {
  font-size: large;
  font-weight: bold;
}
.description {
  font-size: medium;
  font-weight: bold;
  color: #029fae;
}
.small-img {
  width: 170px;
  height: 130px;
  border-radius: 10%;
  margin: 5px;
  border-style: solid;
  border-color: black;
}

/* dropdown menu */
.dropdown-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 9.1%;
  background-color: #dddee2;
  border-radius: 4%;
  padding: 7px;
  position: absolute;
  left: 318px;
  top: 64px;
  z-index: 5;
  border-style: solid;
  border-color: #9b9b9b;
  border-width: 0.1px;
}
.dropdown-item {
  font-size: 13px;
  font-weight: bold;
  padding: 8px 16px 8px 16px;
  margin: 8px;
  text-decoration: none;
  color: #000;
  border-style: solid;
  border-color: #000;
  border-radius: 7px;
  border-width: 1px;
  background-color: #f7f3f3;
}
.dropdown-container:hover {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 9.1%;
  background-color: #dddee2;
  border-radius: 4%;
  padding: 7px;
  position: fixed;
  left: 318px;
  top: 64px;
  z-index: 5;
}
.dropdown-item:hover {
  background-color: #000000;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 16px 8px 16px;
  margin: 8px;
  text-decoration: none;
  color: rgb(248, 251, 251);
  border-style: solid;
  border-color: #000;
  border-radius: 7px;
  border-width: 1px;
}

.details-nav,
.details-foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* mobile */

@media screen and (max-width: 600px) {
  .nav-top-container {
    flex-direction: column;
    gap: 50px;
  }
  .nav-container {
    flex-direction: column;
  }
  .footer-top-container {
    flex-direction: column;
    gap: 15px;
  }
  hr {
    display: none;
  }
  .top-carousel .slick-next::before {
    left: -34px !important;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
  }
  .top-carousel .slick-prev::before {
    left: -1px !important;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
  }
  .bottom-carousel .slick-next::before {
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    left: -81px !important;
    top: -170px !important;
  }
  .bottom-carousel .slick-prev::before {
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    left: 53px !important;
    top: -170px !important;
  }
  .copyright-container {
    flex-direction: column;
    gap: 15px;
    position: relative;
    top: 550px;
  }
  .subscribe {
    width: 40%;
    margin-bottom: 10px;
  }
  input {
    width: 250px;
    margin-top: 10px;
  }
  .form-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .newsleter {
    padding: 0;
  }
  .chairy-text {
    padding-left: 0;
    margin-left: -9px;
    width: 300px;
    text-align: center;
  }
  .chair-container {
    margin-left: 60px;
  }

  .category-container {
    margin-bottom: 20px;
  }
  .details-top-container {
    flex-direction: column;
    height: 1100px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .details-mid-container {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    gap: 30px;
    height: 1150px;
    border-radius: 15px;
  }
  .details-low-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-img-section {
    height: 250px;
    width: 250px;
    margin-left: -1px;
  }
  .details-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 550px;
    width: 290px;
    border-radius: 10%;
    padding: 20px;
  }
  .topic {
    font-size: large;
    font-weight: bold;
  }
  .description {
    font-size: medium;
  }
  .small-img {
    width: 100px;
    height: 100px;
  }

  .card-section-title {
    padding: 0;
    margin: 10px;
    padding-top: 50px;
    text-align: center;
  }
  .card-section-inner-container {
    width: 100%;
  }

  .feedback-container {
    font-size: 13px;
    font-weight: bold;
    height: 200px;
    width: 300px;
    margin: 20px;
    margin-bottom: 2px;
    padding-left: 10px;
  }

  .comma-img {
    width: 35px;
    height: 30px;
  }
  .slider-container {
    width: 80%;
    height: 500px;
  }
  .carousel-item-top-container {
    position: relative;
    top: 300px;
    left: 29%;
    width: 550px;
    height: 300px;
  }
  .carousel-p-1 {
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 20px;
    font-size: 10px;
    left: 14px;
  }
  .carousel-p-2 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 20px;
    font-size: 10px;
    left: -47px;
  }
  .carousel-btn {
    font-size: 15px;
    font-weight: bold;
    width: 120px;
    height: 40px;
  }

  .carousel-low-container {
    background-color: #e1e3e6;
    width: 250px;
    height: 250px;
    position: absolute;
    left: -140px;
    top: -200px;
    border-radius: 50%;
    z-index: -1;
  }
  .carousel-img {
    height: 200px;
    width: 150px;
    left: 220px;
    top: -130px;
  }
  .carousel-inner-container {
    width: 45px;
    height: 42px;
    left: 334;
    top: -137px;
  }
  .carousel-p-3 {
    margin: 0;
    padding: 0;
    font-size: 8px;
  }
  .carousel-p-4 {
    margin: 0;
    padding: 0;
    font-size: 8px;
  }
  .title {
    font-weight: bold;
    color: #9a9caa;
    margin: 5px 5px 5px 0;
    padding: 5px 5px 5px 0;
  }
  .card-section-title {
    margin-bottom: 20px;
  }
  .nav-top-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* dropdown menu */
  .dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 34%;
    background-color: #dddee2;
    border-radius: 4%;
    padding: 8px;
    position: absolute;
    left: 119px;
    top: 64px;
    border-style: solid;
    border-color: #9b9b9b;
    border-width: 0.1px;
  }
  .dropdown-container:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 34%;
    background-color: #dddee2;
    border-radius: 4%;
    padding: 8px;
    position: absolute;
    left: 119px;
    top: 64px;
  }
  .dropdown-item {
    font-size: 13px;
    font-weight: bold;
    padding: 8px 16px 8px 16px;
    margin: 8px;
    text-decoration: none;
    color: #000;
    border-style: solid;
    border-color: #000;
    border-radius: 7px;
    border-width: 1px;
    background-color: #f7f3f3;
  }

  .dropdown-item:hover {
    background-color: #000000;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 16px 8px 16px;
    margin: 8px;
    text-decoration: none;
    color: rgb(248, 251, 251);
    border-style: solid;
    border-color: #000;
    border-radius: 7px;
    border-width: 1px;
  }
}
